html {
    background: url(bg.png) no-repeat center center fixed;
    background-size: cover;
}


h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 400%;
    color: darkred;
}

h2{
    font-family: 'Baskervville', serif;
}

h3{
    font-family: 'Baskervville', serif;
}

p {
    font-size: 120%;

}

body {
    background: no-repeat center center fixed;
    background-size: cover;
}

.wrapper{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    font-family: 'Figtree', sans-serif;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.cleft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 50px;
    background: rgba(169,169,169,1);
}

.cmid{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.cright{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 50px;
    background: rgba(169,169,169,1);
}

.jeux {
    order: 4;
}

.qualites{
    background: rgba(169,169,169,1);
    width: 210px;
    border: 10px #3d3d3d;
    outline: solid 1px;
    padding: 20px;
}

.aboutme {
    order: 5;
    background: rgba(169,169,169,1);
    width: 900px;
    border: 10px #3d3d3d;
    outline: solid 1px;
    padding: 20px;
}

.alternance {
    order: 6;
    background: rgba(169,169,169,1);
    width: 900px;
    border: 10px #3d3d3d;
    outline: solid 1px;
    padding: 20px;
}

.thumbs{
    size: 70%;
}

div.jeux {
    background: rgba(169,169,169,1);
    width: 400px;
    border: 10px #3d3d3d;
    outline: solid 1px;
    padding: 20px;
    margin: 20px auto;
}

.introduce {
    background: rgba(169,169,169,1);
    width: 900px;
    border: 10px #3d3d3d;
    outline: solid 1px;
    padding: 20px;
}

.introduce:nth-child(1){
    order:2;
    flex: 1;
}

.jauges:nth-child(2){
    order:4;
}

.jeux:nth-child(3){
    order:5;
}

.aboutme:nth-child(4){
    order: 6;
}

.photoprofil:nth-child(5){
    order: 1;
}

.mood:nth-child(6){
    order: 3;
}

.thumb1:nth-child(7){
    order:7;
}

.thumb2:nth-child(8){
    order:9;
}

.alternance:nth-child(9){
    order: 8;
}

