html {
    background: url(bg.jpg) no-repeat center center fixed;
    background-size: cover;
}

strong{
    font-size:15px;
}

h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 400%;
    color: darkred;
}

h2{
    font-family: 'Baskervville', serif;
}

h3{
    font-family: 'Baskervville', serif;
}

ul{
    margin-right: 36.5px;
}

p {
    font-size: 120%;

}

body {
    background: no-repeat center center fixed;
    background-size: cover;
}

.wrapper{
    display:flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: 'Figtree', sans-serif;
    text-align: center;
    margin: 0 auto;
    width: 1920px;
}

.cleft{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
}

.purple{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 350px;
    background: rgb(102, 34, 133, 0.4);
}

.github_text {
    padding-top: 95.55px;
    padding-bottom: 95.55px;
    width: 350px;
    position: absolute;
    background: rgba(102, 34, 133);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.purple:hover .github_text {
    visibility: visible;
    opacity: 1;
}

.blue{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 350px;
    background: rgb(10, 102, 194, 0.4);
}

.linkedin_text {
    padding-top: 95.55px;
    padding-bottom: 95.55px;
    width: 350px;
    position: absolute;
    background: rgba(10, 102, 194);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.blue:hover .linkedin_text {
    visibility: visible;
    opacity: 1;
}

.red{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 350px;
    background: rgb(255, 33, 22,0.4);
}

.cv_text {
    padding-top: 95.55px;
    padding-bottom: 95.55px;
    width: 350px;
    position: absolute;
    background: rgba(255, 33, 22);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .01s, visibility .01s;
}

.red:hover .cv_text {
    visibility: visible;
    opacity: 1;
}


.cmid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.cright{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:350px;
    background: rgba(21, 94, 49, 0.39);
}

.innerright{
    display: flex;
    flex-direction: column;
    width: 350px;
    background: rgba(167, 248, 234, 0.39);
}

.interests{
    padding-bottom: 1px;
    width:340px;
}

.languages{
    margin-bottom: -20px;
}

.humanskills{
    padding-bottom: 1px;
}

.title{
    background: rgba(167, 248, 234, 0.39);
    width:350px;
}

.techskills{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 350px;
    padding-bottom: 5px;
}

.bloctxt{
    margin-left: 50px;
}

.aboutme {
    background: rgba(169,169,169,1);
    width: 900px;
    border: 10px #3d3d3d;
    outline: solid 1px;
    padding: 20px;
}

.alternance {
    background: rgba(169,169,169,1);
    width: 900px;
    border: 10px #3d3d3d;
    outline: solid 1px;
    padding: 20px;
}

.thumbs{
    size: 70%;
}

div.jeux {
    background: rgba(169,169,169,1);
    width: 350px;
    border: 10px #3d3d3d;
    outline: solid 1px;
    padding: 20px;
    margin: 20px auto;
}

.introduce {
    background: rgba(169,169,169,0.8);
    width: 900px;
    border: 10px #3d3d3d;
    padding: 20px 20 px 0px 20px;
}

.contact {
    width: 900px;
    margin-left: 0px;
    padding-bottom: 10px;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.deepblue {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background: rgb(84, 96, 230);
}

.discord_text {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 250%;
    width: 310px;
    position: absolute;
    background: rgba(10, 102, 194);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.deepblue:hover .discord_text{
    visibility: visible;
    opacity: 1;
}

.bordeaux {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background: rgb(175, 48, 39);
}

.mail_text {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 310px;
    font-size: 141%;
    position: absolute;
    background: rgba(175, 48, 39);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.bordeaux:hover .mail_text{
    visibility: visible;
    opacity: 1;
}

.green {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background: rgb(37, 207, 71);
}

.phone_text {
    padding-top: 25px;
    padding-bottom: 25px;
    width: 310px;
    font-size: 250%;
    position: absolute;
    background: rgba(37, 207, 71);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    transition: opacity .2s, visibility .2s;
}

.green:hover .phone_text{
    visibility: visible;
    opacity: 1;
}