html {
    background: url(morsullaz.jpg) no-repeat center center fixed;
    background-size: cover;
}
h1 {
    color: darkred;
}

p {
    font-size: 120%;
}

body {
    text-align: center;

    font-family: 'Courgette', cursive;
    background: no-repeat center center fixed;
    background-size: cover;
}

.bloctop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

div.titre {
    font-family: 'Balsamiq Sans', cursive;
    font-size: 300%;
    background: rgba(169,169,169,0.49);
    border: 5px #3d3d3d;
    padding: 35px;
}

div.jauges {
    background: rgba(169,169,169,0.49);
    width: 210px;
    border: 10px #3d3d3d;
    outline: solid 1px;
    padding: 20px;
    margin: 20px auto;
}

.bloccentral {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

div.imgdroites {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.jeux {
    background: rgba(169,169,169,0.49);
    width: 210px;
    border: 10px #3d3d3d;
    outline: solid 1px;
    padding: 20px;
    margin: 20px auto;
}

div.imggauches {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.introduce {
    background: rgba(169,169,169,0.49);
    width: 900px;
    border: 10px #3d3d3d;
    outline: solid 1px;
    padding: 20px;
}


.cloud {
    flex-direction: column;
}

